examples/example-stream-blob.json
[
  {
    "id": "858388d0c160806f",
    "type": "tab",
    "label": "exemple blob",
    "disabled": false,
    "info": "Example on how to generate a blob and extract it. Use status blob to check if there is an ongoing blob acquisition. If it is the case, you cannot run stream blob until the actual blob transfer is finished or aborted.",
    "env": []
  },
  {
    "id": "8e50079a2809e75b",
    "type": "inject",
    "z": "858388d0c160806f",
    "name": "",
    "props": [],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 180,
    "y": 120,
    "wires": [["24f19fd5ea5b9387"]]
  },
  {
    "id": "79d5247dab1bb6ab",
    "type": "debug",
    "z": "858388d0c160806f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 200,
    "wires": []
  },
  {
    "id": "1346c989316517eb",
    "type": "inject",
    "z": "858388d0c160806f",
    "name": "Start Blob acquisition",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 200,
    "wires": [["873b87c826fd76b3"]]
  },
  {
    "id": "2fea5c0a40796a48",
    "type": "iolink-VVB001-abort-blob",
    "z": "858388d0c160806f",
    "name": "VVB001 abort blob",
    "ip": "127.0.0.1",
    "ipType": "str",
    "port": 1,
    "x": 350,
    "y": 280,
    "wires": []
  },
  {
    "id": "d5d8c82b6f729312",
    "type": "inject",
    "z": "858388d0c160806f",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 280,
    "wires": [["2fea5c0a40796a48"]]
  },
  {
    "id": "873b87c826fd76b3",
    "type": "iolink-VVB001-stream-blob",
    "z": "858388d0c160806f",
    "name": "VVB001 blob stream",
    "ip": "127.0.0.1",
    "ipType": "str",
    "port": 1,
    "topic": "",
    "x": 380,
    "y": 200,
    "wires": [["79d5247dab1bb6ab"]]
  },
  {
    "id": "24f19fd5ea5b9387",
    "type": "iolink-VVB001-status-blob",
    "z": "858388d0c160806f",
    "name": "VVB001 blob status",
    "ip": "127.0.0.1",
    "ipType": "str",
    "port": 1,
    "x": 380,
    "y": 120,
    "wires": [[]]
  }
]
